{% if lxc_current_version is version_compare('3.0.0', '<') %}
lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = {{ lxc_bridge_name }}
lxc.network.name = eth0
{% else %}
lxc.net.0.type = veth
lxc.net.0.flags = up
lxc.net.0.link = {{ lxc_bridge_name }}
lxc.net.0.name = eth0
{% endif %}

