USE_LXC_BRIDGE="true"
LXC_BRIDGE="{{ lxc_net.bridge }}"
LXC_ADDR="{{ lxc_net.address }}"
LXC_NETMASK="{{ lxc_net.address }}"
LXC_NETWORK="{{ lxc_net.network }}"
LXC_DHCP_RANGE="{{ lxc_net.dhcp_range }}"
LXC_DHCP_MAX="{{ lxc_net.dhcp_max }}"
LXC_DHCP_CONFILE="{{ lxc_net.dhcp_confile }}"
LXC_DOMAIN="{{ lxc_net.domain }}"
